<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Ninja Gold</h1>
        <h3>Your Gold: {{request.session.gold}}</h3>
        <div class="boxes">
            <div id="one">
                <h4>Farm</h4>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="POST" class="location">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm">
                    <input id="button" type="submit" value="Find Gold!">
                </form>
            </div>
            <div id="two">
                <h4>Cave</h4>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="POST" class="location">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="cave">
                    <input id="button" type="submit" value="Find Gold!">
                </form>
            </div>
            <div id="three">
                <h4>House</h4>
                <p>(earns 2-25 golds)</p>
                <form action="/process_money" method="POST" class="location">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="house">
                    <input id="button" type="submit" value="Find Gold!">
                </form>
            </div>
            <div id="four">
                <h4>Casino</h4>
                <p>(earns/ takes 0-50 golds)</p>
                <form action="/process_money" method="POST" class="location">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="casino">
                    <input id="button" type="submit" value="Find Gold!">
                </form>
            </div>
        </div>
            <h5>Activities:</h5>
            <div id="activities">
                {% for activity in activities %}
                    {% if 'Lost' in activity %}
                <p class="lost">{{activity}}</p>
                    {% else %}
                <p class="won">{{activity}}</p>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
    
</body>
</html>